/*
    主页样式
 */
a {
    text-decoration: none;
}

.top-white {
    height: 80px;
    width: 100%;
    background-color: white;
}

.top-white .logo {
    height: 100%;
    width: 30%;
    float: left;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
}

.top-white .welcome {
    height: 100%;
    width: 15%;
    float: left;
    margin-left: 55%;
    color: #8cc6e5;
}

a:visited {
    color: cornflowerblue;
}

.major-one {
    height: 400px;
    width: 100%;
    background-color: rgb(36, 40, 51);
}

.major-one .image-left {
    height: 320px;
    width: 30%;
    float: left;
    margin: 3% 0 3% 2%;
    background-image: url("../images/lol.jpg");
    background-repeat: no-repeat;
}

.major-one .image-middle {
    height: 320px;
    width: 30%;
    float: left;
    margin: 3% 3%;
    background-image: url("../images/cod.jpg");
    background-repeat: no-repeat;
}

.major-one .image-right {
    height: 320px;
    width: 30%;
    float: left;
    margin: 3% 0;
    background-image: url("../images/pubg.jpg");
    background-repeat: no-repeat;
}